.wrapper {
  padding-right: 20px;

  .timetable {
    width: 1050px;
    border-collapse: collapse;
    table-layout: fixed;
    height: 840px;
    margin: auto;

    .cell {
      width: 150px;
      padding: 0;
      height: 30px;
    }

    td.cell {
      border: 1px solid #f0f0f0;
      height: 60px;
    }

    tbody {
      display: block;
      overflow: auto;
      height: calc(100% - 30px);
      width: 1050px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .timeItem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}
